body,html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-image: url(https://t4.ftcdn.net/jpg/03/88/05/15/360_F_388051581_IePfukl5eiKmDD34uufiKGhzpzKsRt4Z.jpg);
    background-size: cover;
    height: 100%;
}
.game-box{
    background: #151822f6;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0.,0,0,0.23);
    color: white;
}
.answer-item{
    background: rgb(223, 201, 7);
    width: 90%;
    display: inline-block;
    border-radius:8px;
    padding: 3px;
}
#btn-start{
    border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background:#3c16c7;
    font:bold 40px;
	color:#fff;
}

#code-title{
    text-align: center;
    font-weight: bold;
}